.metadata
.project
.settings
.classpath
.project
.checkstyle
.pmd
.settings/
orb.db/
test-output/
deploy/
target/
target/*
target/classes/*
build/
bin/
webclient/
gwt-unitCache/
MANIFEST.MF
*.iws
*.ipr
*.iml
.idea/
pom.xml.releaseBackup
release.properties
infinitest.filters

*.log
*.orig
desktop.ini
*.ucls
